body{
 font-size: 3px;   
text-align: center;
     font-family: font-family: "LacosteSans",'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Helvetica,Arial,sans-serif;
}
.top1{
 max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
/*
.top2 {
   font-size: 10em;
    letter-spacing: -0.1em;
    line-height: 0.8em;
    margin: 0;
    color: #C0C0C0;
    font-family: 'Open Sans', sans-serif;
}
*/
.box {
height: 50px;
background-color: black;
    margin: 0;
}
#wrap{
margin-left: auto;
margin-right: auto;
}
#menu {
  padding:0;
  margin:0;
  list-style-type: none;
overflow: hidden;
}
#menu li {
  width:25%;
  float:left;
  padding:0;
  margin:0;
  text-align:center;
}
#menu li a {
  width:auto;
  color:#fff;
  font-size:12px;
  font-weight:bold;
  padding:10px 0;
  text-decoration:none;
  display:block;
  background:#C0C0C0;
        font-family: 'Open Sans', sans-serif;
}
#menu li a:hover {
  background:#555;
}
#carousel-example-generic {
    margin-right: auto;
    margin-left: auto;
}
.carousel-inner img {
    max-width: 100%;

        margin-right: auto;
    margin-left: auto;
}
#about{
margin-left: 20px;
    margin-right: 20px;
}
#aboutnext{
 font-size:5em;   
}
.titlelogo{
    margin-top: 60px;
    margin-bottom: 30px;
 font-size:15em;   
}
.col-md-4{
padding: 0px;
}
.row{
     margin-right: 0px;
    margin-left: 0px;   
margin-top:15px;
    margin-bottom: 15px;
}

#shop{
 margin-bottom:50px;
    overflow: hidden;
    width:100%;
/*      display:table-cell;*/
/*    vertical-align: middle;*/
        margin-left: auto;
    margin-right: auto;

  
}
.border{
    font-weight: bold;
font-size: 20px;
/*    float: left;*/
}
/*
#shoppic{
 float:left;   
}
*/

footer{
 margin-top: 100px;   
}

#page-top p {
    position: fixed;
    right: 16px;
    bottom: 16px;
    transition: 0.3s;
}
#page-top p:hover {
    opacity: 0.5;
}


